<section class="[ band  band--large  band--tint ]  mb" data-ui-component="Quotes carousel">

    <div class="carousel">

        <ul class="carousel__panes">

            <li class="carousel__pane">
                <blockquote class="pull-quote  pull-quote--banner">
                    <p>Technical expertise and business acumen that is hard to beat. We can’t recommend Kikstand enough.</p>
                    <b class="pull-quote__source"><a href="http://knight-enterprises.com">Jason Welz</a>, Knight Enterprises</b>
                </blockquote>
            </li>

            <li class="carousel__pane">
                <blockquote class="pull-quote  pull-quote--banner">
                    <p>They have an incredible ability to streamline projects and help simplify implementations.</p>
                    <b class="pull-quote__source"><a href="https://www.linkedin.com/in/brian-kelly-59324b1/">Brian Kelly</a></b>
                </blockquote>
            </li>

            <li class="carousel__pane">
                <blockquote class="pull-quote  pull-quote--banner">
                    <p>It’s great to have people you can count on to take charge and deliver results – on time and on budget</p>
                    <b class="pull-quote__source"><a href="https://timewarnercable.com">Fritz Ferrell</a>, Time Warner Cable</b>
                </blockquote>
            </li>

            <li class="carousel__pane">
                <blockquote class="pull-quote  pull-quote--banner">
                    <p>The perfect Salesforce.com solution - would never have reached the finish line without them.</p>
                    <b class="pull-quote__source"><a href="http://americantower.com">Brian Porter</a>, American Tower</b>
                </blockquote>
            </li>

            <li class="carousel__pane">
                <blockquote class="pull-quote  pull-quote--banner">
                    <p>My experience was simply perfect. Everyone needs to have the resources of a Kikstand at their disposal.</p>
                    <b class="pull-quote__source"><a href="https://www.linkedin.com/in/mark-mercer-904aa512">Mark Mercer</a></b>
                </blockquote>
            </li>

        </ul>

    </div>

</section>
