<section class="band  band--attention" id="section:clients" data-ui-component="Clients">
    <div class="wrapper  wrapper--wide">
        <h3 class="client-list-title">Trusted by:</h3>

        <ul class="client-list">
            <li class="client-list__item">
                <a href="https://timewarnercable.com.com/"><img src="{% asset_path time-warner-01.png %}" class="client-list__logo" title="Time Warner Cable"></a>
            </li>
            <li class="client-list__item">
                <a href="https://americantower.com/"><img src="{% asset_path american-tower-01.png %}" class="client-list__logo" title="American Tower"></a>
            </li>
            <li class="client-list__item">
                <a href="https://business.comcast.com/"><img src="{% asset_path comcast-01.png %}" class="client-list__logo" title="Comcast Business"></a>
            </li>
            <li class="client-list__item">
                <a href="https://knight-enterprises.com.com/"><img src="{% asset_path knight-01.png %}" class="client-list__logo" title="Knight Enterprises"></a>
            </li>
            <li class="client-list__item">
                <a href="https://rekindl.com/"><img src="{% asset_path rekindl-01.png %}" class="client-list__logo" title="Rekindl"></a>
            </li>
            <li class="client-list__item">
                <a href="https://mygrande.com.com/"><img src="{% asset_path gcc-01.png %}" class="client-list__logo" title="Grande Communications"></a>
            </li>
            <li class="client-list__item">
                <a href="https://optimum.com/"><img src="{% asset_path cablevision-01.png %}" class="client-list__logo" title="Cablevision"></a>
            </li>
            <li class="client-list__item">
                <a href="https://brighthouse.com/"><img src="{% asset_path brighthouse-01.png %}" class="client-list__logo" title="Brighthouse Networks"></a>
            </li>
            <li class="client-list__item">
                <a href="https://atlanticbb.com/"><img src="{% asset_path atlantic-broadband-01.png %}" class="client-list__logo" title="Atlantic Broadband"></a>
            </li>
            <!-- End client list -->
        </ul>
    </div>
</section>
