<section class="band  band--highlight  page-foot">

    <div class="wrapper">

        <div class="layout  layout--middle">
            <div class="layout__item  lap-and-up-one-quarter">
                <h5 style="margin-bottom:0;">Kikstand</h5>
                <address>
                    Charlotte, NC USA<br/>
                    <b>+1 (813) 922-5526</b>  <br />
                    <b>info@kikstand.com</b> <br />
                </address>
            </div
            ><div class="layout__item  lap-and-up-one-quarter">
                <p></p>
            </div
            ><div class="layout__item  lap-and-up-one-half">
                <ul class="layout">
                    <li class="layout__item  desk-one-third"></li>
                    <li class="layout__item  lap-and-up-one-half  desk-one-third">
                        <div class="c-newsletter">
                            <h5 class="c-newsletter__title">Contact Us</h5>
                            <form method="POST" action="http://formspree.io/bo@kikstand.com">
                                <input type="email" name="email" placeholder="Your email" class="c-input-text c-newsletter__email  required email">
                                <textarea name="message" placeholder="Your message" class="c-input-text c-newsletter__input"></textarea>
                                <input type="submit" value="Send" name="send" class="button  btn  c-newsletter__submit"/>
                            </form>
                        </div>
                    </li>
                    <li class="layout__item  lap-and-up-one-half  desk-one-third"></li>
                </ul>
            </div>
        </div>

    </div>

</section>

<footer class="page-micro">

    <p class="wrapper">
        <small class="page-micro__copy">
            <b>Kikstand Software, Inc dba Kikstand</b>
            </small>
    </p>

</footer>
