<section class="[ band  band--highlight ]  promo">

    <div class="wrapper  wrapper--wide">

        <ul class="layout  layout--large">

            <li class="layout__item  desk-one-third">

                <h2 class="heading">Strategy</h2>
                <p>
                    Interim CIO/CTO providing technology guidance, management, and turnaround implementation.
                    Strategic information technology and project planning with business plan alignment.
                    Process, technology and staff assessments for pre-transaction diligence preparation.
                    Development methodology and customer implementation process remediation
                </p>

            <li class="layout__item  lap-and-up-one-half  desk-one-third">

                <h2 class="heading">Architecture</h2>
                <p>
                    Infrastructure and application architecture modernization and rationalization.
                    Analysis and re-engineering of systems-based and automated business processes.
                    Architecture, systems and process integration and transition planning.
                    Product development and deployment architectures for maintainability and scalability.
                </p>

            <li class="layout__item  lap-and-up-one-half  desk-one-third">

                <h2 class="heading">Implementation</h2>
                <p>
                    Infrastructure, application and Business Intelligence systems project designs and implementations.
                    Data Center and Cloud provider selection, build out and move management.
                    Troubled and failing project and team turnarounds.
                    Development process methodology and engineering leadership coaching.
                </p>

            <li class="layout__item">
                <p class="promo__links">
                    <a href="/services/" class="btn  btn--secondary">Learn more</a> <span class="promo__links-spacer">or</span> <a href="/contact/" class="btn">Hire me</a>
                </p>

        </ul>

    </div>

</section>
