<section class="[ band  band--highlight ]  promo">

    <div class="wrapper  wrapper--wide">

        <ul class="layout  layout--large">

            <li class="layout__item  desk-one-third">

                <h2 class="heading">Virtual CTO/CIO</h2>
                <p>
                    Enabling small and medium sized businesses to align their technology strategy with the overall Strategic Plan of the organization. Assisting in the design, implementation, measurement and
                    maintenance of all aspects of your IT systems to ensure that IT systems are functioning with the maximum performance, accuracy, reliability, and availability.
                </p>

            <li class="layout__item  lap-and-up-one-half  desk-one-third">

                <h2 class="heading">Strategy</h2>
                <p>
                    Providing technology guidance, management, and turnaround implementation.
                    Strategic information technology and project planning incorporating business plan alignment;
                    Process, technology, and staff assessments, including development methodology and implementation.
                </p>

            <li class="layout__item  lap-and-up-one-half  desk-one-third">

                <h2 class="heading">Implementation</h2>
                <p>
                    Infrastructure, application, BI, CRM and ERP systems project designs and implementations.
                    Data Center and Cloud provider selection, build out and move management.
                    Troubled and failing project and team turnarounds.
                    Development process methodology and engineering leadership coaching.
                </p>

            <li class="layout__item">
                <p class="promo__links">
                    <a href="/services/" class="btn  btn--secondary">Learn more</a> <span class="promo__links-spacer">or</span> <a href="/contact/" class="btn">Contact Us</a>
                </p>

        </ul>

    </div>

</section>
