<!-- Page name dependent content -->
{% if page.title == "Virtual CTO/CIO Services" %}

<blockquote class="pull-quote" id="quote:parallax">
    <p>Kikstand was able to successfully complete a number of highly complex, mission critical, and time-sensitive projects for us. Their ability to fully comprehend and implement the best technology solution and the business process needed to fully take advantage improvements was truly remarkable. <br><br>I’ve always been impressed with their depth of knowledge, clarity of presentation and their ability to interact at both the strategic/executive level and the detailed/tactical level </p><br>
    <b class="source  pull-quote__source">Jason Welz, <a href="http://knight-enterprises.com/">Knight Enterprises</a></b>
</blockquote>

{% elsif page.title == "Strategy" %}


<blockquote class="pull-quote" id="quote:parallax">
    <p>
        The team at Kikstand has a truly extensive command of the various disciplines required to build and deliver software products and manage onshore and offshore teams.
        <br><br>
        They are able to use that knowledge working directly with development teams, as well as communicating strategies and concepts to non-technical audiences.
        <br><br>
        In working with them I have been impressed with their ability to tackle complex, abstract technical problems, model an approach to those problems, and then work with the team to fill in the solution.
    </p>

    <br>
    <b class="source  pull-quote__source">Fritz Ferrell, <a href="http://timewarnercable.com/">Time Warner Cable</a></b>
</blockquote>

{% else %}

<blockquote class="pull-quote" id="quote:parallax">
    <p>
        Everyone at Kikstand is a true professional. Their technical knowledge and expertise in complex IT solution development is impressive. <br><br>
        They have an incredible ability to streamline projects and help simplify implementations.
    </p>
    <br>
    <b class="source  pull-quote__source">Brian Kelly, <a href="http://rekindl.com/">Rekindl</a></b>
</blockquote>

{% endif %}
