/*------------------------------------*\
  #NEWSLETTER
\*------------------------------------*/

.c-newsletter {
  //text-align: center;
}

.c-newsletter__title {
  @include font-size(16px);
  @include font-weight(bold);
  color: inherit;
  margin-bottom: $spacing-unit--small;
}

.c-newsletter__text {
  @include font-size(12px);
}

.c-newsletter__email {
  width: 100%;
  margin-bottom: $spacing-unit;
  //text-align: center;

  @include media-query(lap-and-up) {
    width: auto;
    margin-bottom: $spacing-unit--small;
    min-width: 40ch;
  }

}

.c-newsletter__input {
  width: 100%;
  margin-bottom: $spacing-unit;

  @include media-query(lap-and-up) {
    width: auto;
    margin-bottom: $spacing-unit--small;
    min-width: 40ch;
  }
}

.c-newsletter__submit {
  width: 100%;
  display: inline-block;

  @include media-query(lap-and-up) {
    width: auto;
    min-width: 30ch;

  }

}

.c-email {
  text-align: center;
}

.c-email__title {
  @include font-size(16px);
  @include font-weight(bold);
  color: inherit;
  margin-bottom: 0;
}

.c-email__text {
  @include font-size(12px);
}

.c-email__email {
  width: 100%;
  margin-bottom: $spacing-unit;
  text-align: center;

  @include media-query(lap-and-up) {
    width: auto;
    margin-bottom: 0;
    min-width: 40ch;
  }

}

.c-email__submit {
  width: 100%;

  @include media-query(lap-and-up) {
    width: auto;
  }

}
